# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# General
.DS_Store
# Intellij metadata
.idea

/k3s/login-to-ghcr.sh
/k3s/get-kube-config.sh
/k3s/apply-everything.sh
